/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
  // font-family:'Memphis LT W01 Light';
  // font-family:'MemphisLTW01-LightItali';
  // font-family:'Memphis LT W01 Medium';
  // font-family:'MemphisLTW01-MediumItal';
  // font-family:'Memphis LT W01 Bold';
  // font-family:'MemphisLTW01-BoldItalic';
  // font-family:'MemphisLTW01-ExtraBold';
  // font-family:'Futura W01 Light';
  // font-family:'Futura W01 Book';
  // font-family:'Futura W01 Medium';
  // font-family:'Futura W01 Heavy';
  // font-family:'Futura W01 Bold';
  // font-family:'UniversLTW01-47LightCn';
  // font-family:'UniversLTW01-47LightCnO';
  // font-family:'UniversLTW01-57Condense_723821';
  // font-family:'UniversLTW01-57Condense_723818';
  // font-family:'UniversLTW01-67BoldCn';
  // font-family:'UniversLTW01-67BoldCnOb';
  // font-family:'UniversLTW01-39ThinUltr';
  // font-family:'UniversLTW01-49LightUlt';
  // font-family:'UniversLTW01-59UltraCn';
  // font-family:'Black Jack W00 Regular';
  // font-family:'ITCFranklinGothicW01-Bk_812647';
  // font-family:'Univers LT W01_45 Light';
  // font-family:'Univers LT W04_55 Roman';
  // font-family:'Univers LT W01_65 Bold';
  // font-family:'CaflischScriptW01-Regul';
  // font-family:'CaflischScriptW01-SmBd';
  // font-family:'UniversLTW01-55Oblique';
  // font-family:'UniversLTW01-53Extended';
  // font-family:'Univers W01_63 Bold Ex';
  // font-family:'Univers W01_73 Black Ex';
  // font-family:'Avenir Next Cyr W00 Ult Light';
  // font-family:'Avenir Next Cyr W00 Ult Lt It';
  // font-family:'Avenir Next Cyr W00 Thin';
  // font-family:'Avenir Next Cyr W00 Thin It';
  // font-family:'Avenir Next Cyr W00 Light';
  // font-family:'Avenir Next Cyr W00 Light It';
  // font-family:'Avenir Next Cyr W00 Regular';
  // font-family:'Avenir Next Cyr W00 Italic';
  // font-family:'Avenir Next Cyr W00 Medium';
  // font-family:'Avenir Next Cyr W00 Medium It';
  // font-family:'Avenir Next Cyr W00 Demi';
  // font-family:'Avenir Next Cyr W00 Demi It';
  // font-family:'Avenir Next Cyr W00 Bold';
  // font-family:'Avenir Next Cyr W00 Bold It';
  // font-family:'Avenir Next Cyr W00 Heavy';
  // font-family:'Avenir Next Cyr W00 Heavy It';
  // font-family:'AvenirNextLTW01-UltraLi';
  // font-family:'AvenirNextLTW01-UltraLt_721260';
  // font-family:'AvenirNextLTW01-BoldIta';
  // font-family:'AvenirNextLTW01-UltraLt_721293';
  // font-family:'AvenirNextLTW01-UltLtCn_721296';
  // font-family:'AvenirNextLTW01-Condens_721299';
  // font-family:'AvenirNextLTW01-Condens_721302';
  // font-family:'AvenirNextLTW01-MediumC_721311';
  // font-family:'AvenirNextLTW01-MediumC_721314';
  // font-family:'AvenirNextLTW01-DemiCn';
  // font-family:'AvenirNextLTW01-DemiCnI_721308';
  // font-family:'AvenirNextLTW01-BoldCn';
  // font-family:'AvenirNextLTW01-BoldCnI_721320';
  // font-family:'AvenirNextLTW01-HeavyCn_721323';
  // font-family:'AvenirNextLTW01-HeavyCn_721326';
  // font-family:'Avenir Next W01 Cn Thin';
  // font-family:'AvenirNextW01-CnThinIta';
  // font-family:'AvenirNextW01-CnLight';
  // font-family:'AvenirNextW01-CnLightIt';
 @import "compass/reset";
@import "compass/reset";
// colors
$primary: #8b9b3c;
$primary-overlay:rgba(0, 176, 216, 0.45);
$secondary:#edf0e1;
$white:#fff;
$black:#222;
$CTA:#00b0d8;
// fonts
$BoldCnd: 'Avenir Next Cyr W00 Regular', helvetica, sans-serif; 
$Bold: 'Avenir Next Cyr W00 Medium', helvetica, sans-serif; 
$Roman:'Avenir Next Cyr W00 Regular', helvetica, sans-serif;
$Light: 'Avenir Next Cyr W00 Light', helvetica, sans-serif;
header{
	img{
		width:200px;
		padding:10px;
	}
	div{
		text-align:center;
	}
}
body{
	background: url(../img/dvf_bg.jpg);
	background-size:cover;
}
.hero{
	background: url('../img/Hero.jpg');
	height:800px;

	background-repeat:no-repeat;
	background-size:cover;
	h1{
		text-transform:uppercase;
		font-size: 100px;
		font-family: $BoldCnd;
		color:$white;
		position:relative;
		top:715px;
	}
	h2{
		font-size: 30px;
		font-family: $BoldCnd;
		color:$white;
		position:relative;
		top:400px;
		left:8px;
		padding-top:20px;
	}
}
.headline{
	padding-top:10px;
	background:$white;
	p{
		font-size: 30px;
		font-family: $Roman;
		color:$black;		
		padding-top:20px;
	}
	h2{
		font-size: 70px;
		font-family: $BoldCnd;
		text-transform: uppercase;
		color:$primary;
	}
	h3{
		font-size:30px;
		font-family:$Bold;

	}
}
.copy{
	padding-top:50px;
	background:$white;
	p{
		margin-bottom:80px;
	}
	h3{
		font-family: $Bold;
		font-size: 30px;

		span{
			color: $primary;
			font-size: 36px;
		}
	}
	
	.logo{
		width:324px;
		display:inline-block;
	}
	hr{
		border-top:1px solid #C7CEC7;
		width:80%;
		margin-top: 60px;
	}
}
p{
	font-size: 24px;
	font-family: $Light;
	margin: 15px 0;

}

.form{
	.form-cta{
		margin-bottom: 10px;
	}
	background:$secondary;
	.headline{
		padding:20px;
		background:$primary;
		text-transform: uppercase;
		width:487px;
		position:relative;
		left:-15px;
		p{

			font-size: 18px;
			font-family: $Light;
			margin:0;
			padding:5;
		}
	}
	h3{
		color:$white;
	}
	button{
		font-family: $Bold;
		font-size: 24px;
		background: $CTA;
		border: 2px solid $white;
		padding:20px;
		text-transform: uppercase;
	}
	label{
		font-family: $Light;	
		margin-top:10px;
	}
}
main{
	footer{
		margin-top: 50px;

		p{
			font-size: 12px;

		}
	}
}
a{
	color:$primary;
	&:hover{
		text-decoration: none;
	}
}

.vertical-line{
	height:130px;
	border-left:1px solid #C7CEC7;
	width:200px;
	span{
		display: block;
		position:relative;
		left:30px;
		top:80px;
		font-family: $Light;
		font-size: 20px;
	}
}
// LARGE
@media (min-width:1200px) {
	
}
// MEDIUM
@media (max-width:1200px) and (min-width:992px){
// form heading needs to be smaller
body{
	.hero{
		background: url('../img/Hero.jpg') -180px;
		height:800px;
		h1{
			font-size: 100px;
			position:relative;
			top:715px;
		}
		h2{
			font-size: 30px;
			font-family: $BoldCnd;
			color:$white;
			position:relative;
			top:400px;
			left:8px;
			padding-top:20px;
		}
	}
	.form{
		.form-cta{
			margin-bottom:10px;
		}
		background:$secondary;
		.headline{
			
			width:404px;
			position:relative;
			left:-15px;
			padding:20px;
			p{
				font-size: 16px;
				margin:0;
			}
		}
		label{
			margin-top:0px;
			&[for="salutation"]{
				margin-top: 10px;
			}
		}
	}
	// possible more width for writing 
	p{
		margin-bottom: 80px;
		&:last-child{
			margin-bottom: 10px;
			
		}
	}
	nav, footer p{
		margin-bottom: 20px;
	}
}

// fix footer logo (FIXED)
}
// SMALL
@media (max-width:992px) and (min-width:768px){

body{
	// main headline is breaking, possibly make smaller
	.hero{
		background: url('../img/Hero.jpg') -220px;
		height: 700px;
		h1{
			font-size: 80px;
			position:relative;
			top:632px;
		}
		h2{
			font-size: 30px;
			font-family: $BoldCnd;
			color:$white;
			position:relative;
			top:400px;
			left:8px;
			padding-top:20px;
		}
	}
	p{
		margin-bottom: 50px;
		&:last-child{
			margin-bottom: 10px;
			
		}
	}
	// position hero image to focus on people
	// form headline needs to be adjusted
	.form{
		
		.headline{
			h3{
				font-size: 20px;
			}
			width:312px;
			padding:20px;
			p{
				font-size: 16px;
				margin-bottom: 0;
			}
		}
		
		// cta needs to be adjusted
		button{
			font-size: 20px;
		}	
	}
	footer p{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 10px;
			
		}
	}
	// fix footer logo 263px
	.copy{
		.logo{
			width:263px;
			display:inline-block;
		}
	}
}
}
// x-EXTRA SMALL
@media (max-width:768px) and (min-width:500px){
	
	body{
		header{
			img{
				width:80px;
				padding:10px;
			}
			div{
				text-align:center;
			}
		}
		.hero{
			background: url('../img/Hero.jpg') -250px;
			height:600px;
			h1{
				font-size: 70px;
				position:relative;
				top:542px;
			}
			h2{
				font-size: 30px;
				font-family: $BoldCnd;
				color:$white;
				position:relative;
				top:400px;
				left:8px;
				padding-top:20px;
			}
		}
		.form{
			background:$secondary;
			.headline{
			// background: inherit;
			width:100%;
			left:0;
			text-align: center;
			color:#fff;
			margin:0 auto;
				p{
					font-size: 18px;
					font-family: $Light;
					margin:0;
					padding:5;
				}
			}
		}		
		.headline{
			p{
				font-size: 20px;
				padding-top:20px;
			}
			h2{
				font-size: 50px;
			}
			h3{
				font-size:25px
			}
		}
		footer{
			div {
			text-align: center;
			}
		}
	}
	
}@media (max-width:500px){
	
	body{
		header{
			img{
				width:80px;
				padding:10px;
			}
			div{
				text-align:center;
			}
		}
		.hero{
					height:300px;
					background-size:cover;
					h1{
						font-size: 40px;
						position:relative;
						top:267px;
					}
					h2{
						font-size: 30px;
						font-family: $BoldCnd;
						color:$white;
						position:relative;
						top:400px;
						left:8px;
						padding-top:20px;
					}
				}
		.form{
			background:$secondary;
			.headline{
			// background: inherit;
			width:100%;
			left:0;
			text-align: center;
			color:#fff;
			margin:0 auto;
				p{
					font-size: 18px;
					font-family: $Light;
					margin:0;
					padding:5;
				}
			}
		}		
		.headline{
			p{
				font-size: 20px;
				padding-top:20px;
			}
			h2{
				font-size: 30px;
			}
			h3{
				font-size: 20px;
			}
		}
		footer{
			div {
			text-align: center;
			}
		}
	}
}
