/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
@import "compass/reset";
// COLORS

// FONTS

// MAIN
footer{
 margin-bottom: 50px;
 .logo-space{
   text-align: center;
   padding:20px;
 } 
 p,li, {
   margin-bottom:5px;
   line-height: 20px;
 }
 .footer-logo{
   text-align: center;
 }
 .vertical-line{
   margin-bottom:30px;
   // border-left:1px solid $blk;
   text-align: center;
   height: 150px;
   // width:100%;
   span{
     left:-100px;
     top:80px;
     position:relative;
   } 
 }
 li, .disclaimer{
   font-size: 16px
 }
}
// MEDIA QUERIES
	// LARGE >1200PX

	// MED 1200-992PX

	// SMALL 997-768PX

	// XSMALL 768-400PX

	// MOBILE <400PX