######################
# ADOBE
######################

*.indd
*.ai
*.psd

######################
# text
######################

*.txt

######################
# DS_Store
######################
.DS_Store


######################
# IMG
######################

*.tiff